/* Hung Nguyen */
body{
font-family: Helvetica;
background-color:#fff;
line-height: normal;
}

header{
  height: 75px;
  width:100%;
}

.navbar {
  text-decoration: none;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  height:auto;
  z-index:1;
  top: 0;
  left: 0;
  right:0;
  width: 100%;
  margin-bottom: 0px;
}

.container-fluid{
    padding:0px;
    overflow: hidden;
  }

.navbar li{
  margin: .5em;
  font-family: Helvetica;
  display: inline;
  list-style-type: none;
  font-size: .8em;
}

a{
  color:#99d1ff ;
}
.active{
  color:#fff;
  text-decoration: underline;
  pointer-events: none;
}

li a:hover:not(.current){
  text-decoration:none;
  color:white;
}

.welcome > .h1,h1{
  font-size: 2em;
  text-align: left;
}

label {
    display: none;
}

#form {
    margin-top: 55px;
    margin-bottom: 55px;
    text-align: center;
    display: block;
    overflow: hidden;
}

legend {
    color: #5d5f93
}

img{
    -webkit-transition: all 0,3s ease;
    -moz-transition: all 0,3s ease;
    -o-transition: all 0,3s ease;
    -ms-transition: all 0,3s ease;
    transition: all 0,3s ease;
}

img:hover{
    filter: brightness(20%);
    position: relative;
}

.responive-img{
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
}



footer{
 background-color: #593C1F;
 color: white;
 height: auto;
 text-align: center;
 font-size: .9em;
 margin-top: 0em;
 margin-bottom: 0em;
}
